[Unit]
Description=Scan XLSX Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/scan_xslx_bot
EnvironmentFile=/opt/scan_xslx_bot/.env
ExecStart=/opt/scan_xslx_bot/venv/bin/python /opt/scan_xslx_bot/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
