[Unit]
Description=Scan XLSX Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/scan_xslx_bot
EnvironmentFile=/root/scan_xslx_bot/.env
ExecStart=/root/scan_xslx_bot/venv/bin/python /root/scan_xslx_bot/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
